<md-card id="top" flex layout="row" layout-align="center center">
    
    <span flex class="headerItem">{{$ctrl.assemblyInfo.assemblyName}}</span>
    <span flex class="headerItem">{{$ctrl.assemblyInfo.assemblyNumber}}</span>
    <span flex class="headerItem">{{$ctrl.assemblyInfo.assemblyItems.length}} Bauteile</span>               
    <!-- <span flex class="headerItem">{{$ctrl.assemblyInfo.subAssemblies.length}} Sub</span> -->

    <md-input-container  md-no-float class="searchHeader" flex="20">
        <md-select ng-model="filterSubAssembly" placeholder="Select a Sub Assembly" ng-change="showModel()">
            <md-option ng-value ="subA" ng-repeat="subA in $ctrl.subACol">{{subA.subAssemblyNumber | uppercase}}</md-option>
        </md-select>
    </md-input-container>          

	 		<span ng-hide="$ctrl.startInsertItems" ng-click="$ctrl.newItem()">
                    <i   class="fa fa-plus fa-lg headerIcon " ></i>
                    <md-tooltip>
                        Insert Items 
                    </md-tooltip>
            </span>
            
            <span class="text-center" ng-click="" ng-hide="$ctrl.startInsertItems">
                    <i class="fa fa-file-excel-o fa-lg text-success headerIcon" aria-hidden="true"></i>
                    <md-tooltip>
                    Upload CSV File
                    </md-tooltip>                                    
            </span> 
	 


</md-card>