body,button, html, input, select, textarea,td,p {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 13px !important;
}
th{
	font-weight: 500;
	color:#757575;
	padding-top: 15px !important;

}
span:focus,i:focus{
	outline: none;
    border: 0;
}
/*BUTTONS WITH FONT ICONS USER FORMS*/
.formButtons{
	margin: 0px 15px;
}
.md-button{
	line-height: 50px !important;
}
.searchHeader{
	margin: 10px 25px;
	height: 40px;
}
td.iTable {
	padding: 18px 25px !important;
}
/*JUST TO ADJUST THE MENU IN THE OVERVIEW PANEL*/
md-menu-content.md-dense md-menu-item {
	height: 45px;
}
md-menu-content.md-menu-bar-menu.md-dense .md-button {
	height: 50px;
}
md-menu i{
	color:rgba(0,0,0,0.54);
}

/*TO GIVE A BETTER APARIENCE TO THE IFORM COMPONENT*/
.iForm {
	margin: 5px 20px;
}
.md-subheader{
	background-color: transparent;
}
.md-subheader .md-subheader-content {
	padding: 5px 15px;
}
.headerItem{
	padding: 25px 45px;
	color: rgba(0,0,0,0.54);
}
.headerIcon{
	padding: 25px 15px;
	color: rgba(0,0,0,0.54);
}

