<md-toolbar class="md-hue-2">
      <div class="md-toolbar-tools">          
        <span ng-click="$ctrl.toggleLeft()" layout-padding class="md-button">        	
			<i class="fa fa-bars fa-lg " aria-hidden="true"></i>
        </span> 
        <h2>
          <span>eStock</span>
          
        </h2>        
      </div>
</md-toolbar>

	<!-- Container #2 -->
	<div layout="row" flex>
		<!-- Container #3 -->
		<md-sidenav  class="md-whiteframe-z2" layout="column" md-component-id="left">
			<md-toolbar class="md-hue-2" layout-aling="center center">
		        <h2 class="md-toolbar-tools">Rohde Maschinenbau GmbH</h2>
		     </md-toolbar>

	        <a ui-sref="app.Orders" class="md-button" ng-click="$ctrl.close()">
	        	<i class="fa fa-book fa-lg" aria-hidden="true"></i>&nbsp; Orders
	     	</a>
	        <a ui-sref="app.Projects" class="md-button" ng-click="$ctrl.close()">
	        	<i class="fa fa-puzzle-piece fa-lg" aria-hidden="true"></i>&nbsp; Projects
	        </a>
	        <a ui-sref="app.Assemblies" class="md-button" ng-click="$ctrl.close()">
	        	<i class="fa fa-cubes fa-lg" aria-hidden="true"></i>&nbsp; Assemblies
	        </a>
	        <a ui-sref="app.Overview" class="md-button" ng-click="$ctrl.close()">
	        	<i class="fa fa-desktop  fa-lg"></i>&nbsp; Overview
	        </a>
	        <a ui-sref="app.Company" class="md-button" ng-click="$ctrl.close()">
	        	<i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp; Company
	        </a>

		</md-sidenav>




		<!-- Container #4 -->
		<md-content flex id="content">		
			<div ui-view></div>		  
		</md-content>

	</div>